
///**** Primary Colors ****///

// BrainFlix-Black: Primary text color for dark on light background. Dark background color
$BrainFlix-Black: #323232;

/// BrainFlix-Blue // Active form field outline
$BrainFlix-Blue: #0095ff;

// Silver: Seconday text color. Text lable color
$Silver: #AFAFAF;

// White: Primary text color for light on dark background. Light background color. Active CTA text color.
$White: #fff;


///**** Secondary Colors ****///

/// BrainFlix-Dark Blue // video components
$BrainFlix-DarkBlue: #0065ad;

/// // BrainFlix-DarkBlack: CTA hover state.
$BrainFlix-DarkBlack: #000;

//  Alabaster: Alternative light background color
$Alabaster: #FAFAFA;

//  Mercury: Divider line. Form field outline.
$Mercury: #E1E1e1;


///**** Tertiary Colors ****///




// Error State
$Error-Red: #d22d2d;